.item-detail{
    display: flex;
    width: 900px;
    gap: 20px;
}

.data-articulo-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-articulo-detail{
    width: 500px;
}

.titulo-articulo-detail{
    font-size: 30px;
    color: white;
}

.descrip-articulo-detail{
    font-size: 20px;
    color: white;
}

.precio-articulo-detail{
    font-size: 50px;
    color: white;
}

.botonesComprar{
    display: flex;
}

.botonesComprar .seguir{
    background-color: rgb(24, 163, 24);
}

.botonesComprar .seguir:hover{
    background-color: rgb(14, 100, 14);
}


.botonesComprar .terminar{
    background-color: rgb(190, 72, 36);
}

.botonesComprar .terminar:hover{
    background-color: rgb(117, 42, 19);
}


.botonesComprar *{
    padding: 5px;
    text-decoration-line: none;
    color: white;
    border-radius: 5px;
}