.lista{
    display: flex;
    gap: 30px;
}

.item{    
    width: 300px;
    height: 550px;
    border: solid rgb(56, 55, 55) 1px;
    cursor: pointer;
    transition: ease 0.3s;
}

.item a{
    color: black;
    text-decoration: none;    
}

.item:hover{
    transform: translateY(-15px);
}


.img-articulo{
    width: 300px;
    height: 225px;
}

.data-articulo{
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;    
    padding: 20px;
    height: 100px;
}

.titulo-articulo{
    font-size: 30px;
}

.descrip-articulo{
   font-size: 15px;
}



.precio-articulo{
    text-align: center;
    font-size: 50px;
}