.navegation-bar{
    display: flex;
    background-color: rgb(60, 100, 231);
    width: 100%;
    height: 90px;
    align-items: center;
}

.list-item{
    height: inherit;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;

}

.nav-item{
    cursor: pointer;
    font-size: 20px;    
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 0.3s;
    font-weight: 800;
}

.list-item a{
    color: aliceblue;
    text-decoration: none;    
}

.nav-item:hover{
    background-color: aliceblue;
}
.nav-item:hover{
    color: black;
}

.logo{
    margin: 5px 0px 5px 20px;
    height: 70px;
    width: auto;
}